.searchbar{ 
        height: 56px;
    width: 100%;
    background-color:#e9dddd;
}
body{
    margin: 0;
    height: 100vh;

}
.logo-container{
    height: 56px;
    width: 150px;
    background-color: transparent;
    float: left;
    margin-left: 17px;

}
.Youtube{
    margin-top: 14px;
   
position: relative;
}
.search-bar{

   
       
    



    
   height: 30px;
    width: 307px;
    margin-top: 9px;
    float: left;
    border: ridge;
  /*  border-radius: 4px; 
   border-color: thistle;  */
    font-size: 25px;
    background-color: transparent;
    
    box-shadow: none;
    color: inherit;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 4px;
    
    text-align: inherit;
   
   
     
}
.icon-box{
    margin-top: 9px;
    height: 33px;
    width: 65px;
    color: inherit;
    /* background-color: white; */
    float: left;
  /* border: solid 2px ;*/
  border: ridge;

}
 .microphon-icon{
   
     float: left;
    height: 33px;
    width: 33px;
    background-color: royalblue;
    border-radius: 50;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 30px;
 }  
 .microphone{
     
     margin-top: 13px;
     margin-left: -14px;
    color: gray;

 }

#video-icon{

    float: left;
    margin-left: 20px;
    margin-top: -29px;
    font-size: 33px;
    margin-left: 23px;
    color: gray;

}
#app-icon{
    float: left;
    margin-left: 40px;
    margin-top: -26px;
    font-size: 28px;
    color: gray;
}


#bell-icon{

    
    float: left;
    /* margin-right: 21px; */
    margin-left: 27px;
    margin-top: -26px;
    font-size: 28px;
    color: gray;
}

#account-icon{
    float: right;
    margin-right: 21px;
    margin-top: -28px;
    font-size: 33px;
    color: gray;
}

#home-bar{
    float: left;
    height: 1000px;
    width: 200px;
    background: #33312f;
}
    
   
  .home{
      height: 60px;
      width: 200px;
     
     /* border: solid 1px;*/
  }  
.material-icons{
    font-size: 35px;
   
    border-color:  lightgrey;
    color: white;
}

.label{
    

    font-size: 17px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3px;
    margin-top: 18px;
}

.material-icons{
    padding: auto;
    margin-top: 14px;
    margin-left: 15px;
}
#img{
    
    height: 31px;
    width: 31px;
    border-radius: 50%;
    margin-top: 14px;
    margin-left: 15px;
}
#trending{
   
    margin-left: 199px;
    margin-top: -1000px;
    height: 33px;
    width: 100%;
   background-color: #33312f;;
    color: #33312f;;
    border: solid 2px;
    float: left;
}


   
.btn{
    height: 34px;
    border-radius: 15px;
    font-size: 13px;
    padding: 8px;
    border: white;
   
}

.vidiosGrid{
    display: grid;
    height: 193px;
    width: 240px;
    background: #33312f;
    float: left;
    padding: 12px;

   
}

.tumbnail{
    height: 135px;
    width: 240px;



}
.imgp{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.discription{
    margin-top: -34px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 37px;
    
   color: rgb(227 227 227);

    
}
.video-container{

    height: 2000px;
    width: 1000px;
    background-color: rgb(161, 104, 104);
    float: left;
    margin-left: 200px;
    margin: top;
    
    margin-top: -963px;
}


   